params {

    input           = null
    outdir          = "results"

    help            = false
    samplesheet     = null

    reference_base  = null
    reference_version = "1.0"
    build_references = false

    logo            = "${baseDir}/assets/pipelinelogo.png"
    run_name        = null

    store_demux     = false

    plaintext_email = false
    skip_multiqc    = false
    email           = false

    conda.enabled   = false
    singularity.enabled = false
    docker.enabled  = false
    podman.enabled  = false
    apptainer.enabled = false
    
    maxMultiqcEmailFileSize = 25.MB

    multiqc_config  = "${baseDir}/conf/multiqc_config.yaml"
    multiqc_logo    = "${baseDir}/assets/pipelinelogo.png"

    publish_dir_mode    = 'copy'
    custom_config_base = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"
}

manifest {
    name = "marchoeppner/read-qc"
    version = "1.1"
    description = "Read-QC Pipeline"
    author = "Marc Hoeppner"
    homePage = "https://github.com/marchoeppner/read-qc"
    nextflowVersion = "25.04.5"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Custom options for some modules
includeConfig 'conf/modules.config'

// Default configs to load for all profiles
includeConfig 'conf/base.config'

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// load configs that rely on site-specific presets
includeConfig 'conf/resources.config'

profiles {

    docker { 
        docker.enabled = true 
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true 
    }
    conda {
        conda.enabled = true
    }
    podman {
        podman.enabled = true
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

}