process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/FastQC/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }
    withName: 'FASTP|BWAMEM2_MEM|SAMTOOLS_MERGE|SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }
    withName: SAMTOOLS_STATS {
        ext.args = "-f 0 -F 256"
        publishDir = [
            path: { "${params.outdir}/Stats" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC_RUN {
        ext.prefix = "${params.run_name}"
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BIOBLOOMTOOLS_MAKER {
        publishDir = [
            path: { "${params.reference_base}/readqc/${params.reference_version}/bloomfilter" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: BIOBLOOMTOOLS_CATEGORIZER {
        ext.args = "-e"
        publishDir = [
            path: { "${params.outdir}/Contamination/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: BCL2FASTQ {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            enabled: params.store_demux,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CHECKQC {
        publishDir = [
            path: { "${params.outdir}/CheckQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MD5SUM {
        publishDir = [
            path: { "${params.outdir}/Reads/${meta.project}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
