process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/FastQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }
    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC_RUN {
        ext.prefix = "${params.run_name}"
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTP {
        ext.args = "--reads_to_process 200000"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/FastP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]

    }
}
