params {

  // name needs to be the base of the final .bf file; could probably be done a little smarter...
  
  bloomfilter {
    human {
      name = "human"
      url = "http://hgdownload.soe.ucsc.edu/goldenpath/hg38/bigZips/hg38.fa.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/human.bf"
    }
    horse {
      name = "horse"
      url = "http://hgdownload.soe.ucsc.edu/goldenPath/equCab3/bigZips/equCab3.fa.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/horse.bf"
    }
    cattle {
      name = "cattle"
      url = "http://hgdownload.soe.ucsc.edu/goldenPath/bosTau9/bigZips/bosTau9.fa.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/cattle.bf"
    }
    escherichia_coli {
      name = "escherichia_coli"
      url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/845/GCF_000005845.2_ASM584v2/GCF_000005845.2_ASM584v2_genomic.fna.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/escherichia_coli.bf"
    }
    salmonella_enterica {
      name = "salmonella_enterica"
      url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/006/945/GCF_000006945.2_ASM694v2/GCF_000006945.2_ASM694v2_genomic.fna.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/salmonella_enterica.bf"
    }
    listeria_monoctogenes {
      name = "listeria_monoctogenes"
      url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/014/987/905/GCF_014987905.1_ASM1498790v1/GCF_014987905.1_ASM1498790v1_genomic.fna.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/listeria_monoctogenes.bf"
    }
    campylobacter {
      name = "campylobacter"
      url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/009/730/395/GCF_009730395.1_ASM973039v1/GCF_009730395.1_ASM973039v1_genomic.fna.gz"
      bf = "${params.reference_base}/readqc/${params.reference_version}/bloomfilter/campylobacter.bf"
    }
  }
}
